package components

import "github.com/McFlip/go-meme-vault/internal/models"

templ Index(tags []models.Tag) {
	<div>
		<h1 class="text-3xl">Select an available tag to begin</h1>
		<p>Use the searchbar to search for available tags</p>
		@TagsList(tags)
	</div>
}
