package components

import "github.com/McFlip/go-meme-vault/internal/models"
import "fmt"

templ MemeTn(meme models.Meme, idx int) {
	<p>
		<img src={ meme.GetThumbnail() } alt={ meme.Name } hx-get={ fmt.Sprintf("/memes/%v?idx=%v", meme.ID, idx) } hx-target="#modal"/>
	</p>
}
