package components

templ Menu() {
	<menu hx-target="main">
		<a href="/" hx-target="body">Home</a>
		<a href="/memes/new">New Memes</a>
    <a href="/memes/untagged">Untagged Memes</a>
		@Searchbar()
	</menu>
}
